.leftbar{
   width: 240px;
   background: #051F3E;
    min-height: 100vh;
   .user{
    background: #051F3E;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #021933;
    .item{
        display: flex;
       justify-content: space-around;
        align-items: center;
        gap: 10px;
        color: #9ea8b5;
        transition: all 2s ease;
      .inneritem{
        display: flex;
        align-items: center;
        gap: 5px;
      }
      
        .speedicon{
            color: #ffa901;
            
        }
        .cheveron{
            color: #ffab01;
            cursor: pointer;
        }
       
    }
    .main{
        margin: 20px 10px;
        .inner-item{
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 10px 30px;
            color: #fff;
            text-align: center;
            
        }
    }
}
}